body {
    margin-top: 50px;
    background: url("images/battlefond.jpg") no-repeat center fixed;
    background-size: cover;
}

aside
{

}

.jumbotron{
    background: none;
    color: black;
    text-align: center;
    border-bottom: double 5px ;
}

#twitt
{
    margin-top: 50px;
    color: black;
}

#fb
{
    color: black;
}
#block_page
{

    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 50px;
}


section
{
    background-color: none;
    color: black;
    padding: 1%;
    text-align: justify;

}

p
{
    font-size: large;
    text-align: justify;
}
 article
 {
     background-color: rgba(255, 255, 255, 0.9);
     border: solid;
     border-radius: 15px;
     border: none;
     margin: 30px;
     padding: 10px;
 }